<%= form_with(model: @movie) do |form| %>

  <div>

    <%= form.label :title %>

    <%= form.text_field :title  %>

  </div>

  <div>

    <%= form.label :description %>

    <%= form.text_area :description, rows: 3 %>

  </div>

  <%= form.button %>
 
<% end %>