<%= form_with(model: @director) do  |form| %>

      <div>
        <%= form.label :dob %>
        <%= form.date_field :dob %>
      </div>

      <div>
        <%= form.label :name %>
        <%= form.text_field :name %>
      </div>

      <div>
        <%= form.label :bio  %>
        <%= form.text_area :bio, rows: 3%>
      </div>

      <%= form.button %>

    <% end %>