<div>
  <div>
    <h1>
      Director #<%= @director.id %> details
    </h1>

    <div>
      <div>
        <%= link_to "Go back", directors_path %>
      </div>

      <div>
        <%= link_to "Edit director", edit_director_path(@director) %>
      </div>

      <div>
        <%= link_to "Delete director", @director, method: :delete %>
      </div>
    </div>

    <dl>
      <dt>
        Dob
      </dt>
      <dd>
        <%= @director.dob %>
      </dd>

      <dt>
        Name
      </dt>
      <dd>
        <%= @director.name %>
      </dd>

      <dt>
        Bio
      </dt>
      <dd>
        <%= @director.bio %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@director.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@director.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit director
    </h2>

    <form action="/modify_director/<%= @director.id %>"  method="post" >
      <div>
        <label for="dob_box">
          Dob
        </label>

        <input type="date" id="dob_box" name="query_dob" value="<%= @director.dob %>">
      </div>

      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @director.name %>">
      </div>

      <div>
        <label for="bio_box">
          Bio
        </label>

        <textarea id="bio_box" name="query_bio"><%= @director.bio %></textarea>
      </div>

      <button>
        Update director
      </button>
    </form>
  </div>
</div>

<hr>
